---
# tasks file for postfix

- name: Import assert.yml
  ansible.builtin.import_tasks:
    file: assert.yml
  run_once: true
  delegate_to: localhost

- name: Pre-configure debian systems
  ansible.builtin.debconf:
    name: postfix
    question: postfix/main_mailer_type
    vtype: string
    value: "No configuration"
  when:
    - ansible_os_family == "Debian"

- name: Install postfix
  ansible.builtin.package:
    name: postfix
    state: present

- name: Install postfix-mysql
  ansible.builtin.package:
    name: postfix-mysql
    state: present
  when:
    - (postfix_virtual_mailbox_maps is defined and 'mysql' in postfix_virtual_mailbox_maps) or
      (postfix_virtual_mailbox_domains is defined and 'mysql' in postfix_virtual_mailbox_domains) or
      (postfix_virtual_alias_maps is defined and 'mysql' in postfix_virtual_alias_maps)

- name: Configure postfix (transport_maps)
  ansible.builtin.template:
    src: "{{ postfix_transport_maps_template }}"
    dest: /etc/postfix/transport
    mode: "0644"
  notify:
    - Validate configuration
    - Rebuild transport_maps database
  when:
    - postfix_transport_maps_template is defined

- name: Configure postfix (header_checks)
  ansible.builtin.template:
    src: "{{ postfix_header_checks_template }}"
    dest: /etc/postfix/header_checks
    mode: "0644"
  notify:
    - Validate configuration
    - Reload postfix
  when:
    - postfix_header_checks_template is defined

- name: Configure postfix (main.cf)
  ansible.builtin.template:
    src: main.cf.j2
    dest: /etc/postfix/main.cf
    validate: postconf -d -c %s
    mode: "0644"
  notify:
    - Validate configuration
    - Restart postfix

- name: Configure postfix (master.cf)
  ansible.builtin.template:
    src: master.cf.j2
    dest: /etc/postfix/master.cf
    validate: postconf -d -c %s
    mode: "0644"
  notify:
    - Validate configuration
    - Restart postfix

- name: Creates cert/key directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: 0700
  loop:
    - "{{ _postfix_smtpd_tls_cert_file_dir }}"
    - "{{ _postfix_smtpd_tls_key_file_dir }}"
  when:
    - postfix_smtpd_tls_cert_file is defined
    - postfix_smtpd_tls_key_file is defined
    - postfix_smtpd_tls_cert_file_source is defined
    - postfix_smtpd_tls_key_file_source is defined

- name: Deploy Postfix TLS server certificate
  ansible.builtin.copy:
    src: "{{ postfix_smtpd_tls_cert_file_source }}"
    dest: "{{ postfix_smtpd_tls_cert_file }}"
    mode: "0600"
  notify:
    - Reload postfix
  when:
    - postfix_smtpd_tls_cert_file_source is defined

- name: Deploy Postfix TLS server key
  ansible.builtin.copy:
    src: "{{ postfix_smtpd_tls_key_file_source }}"
    dest: "{{ postfix_smtpd_tls_key_file }}"
    mode: "0600"
  notify:
    - Reload postfix
  when:
    - postfix_smtpd_tls_key_file_source is defined

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Configure aliases
  ansible.builtin.lineinfile:
    path: "{{ postfix_alias_path }}"
    regexp: "^{{ item.name }}:"
    line: "{{ item.name }}: {{ item.destination }}"
    mode: "0644"
  when:
    - postfix_aliases is defined
  loop: "{{ postfix_aliases }}"
  notify:
    - Rebuild alias database
    - Reload postfix
  loop_control:
    label: "{{ item.name }}"

- name: Configure sender_access
  ansible.builtin.lineinfile:
    path: "{{ postfix_sender_access_path }}"
    regexp: "^{{ item.domain }}"
    line: "{{ item.domain }} {{ item.action }}"
    create: true
    mode: "0644"
  when:
    - postfix_sender_access is defined
  loop: "{{ postfix_sender_access }}"
  notify:
    - Rebuild sender_access database
    - Reload postfix
  loop_control:
    label: "{{ item.domain }}"

- name: Configure recipient_access
  ansible.builtin.lineinfile:
    path: "{{ postfix_recipient_access_path }}"
    regexp: "^{{ item.domain }}"
    line: "{{ item.domain }} {{ item.action }}"
    create: true
    mode: "0644"
  when:
    - postfix_recipient_access is defined
  loop: "{{ postfix_recipient_access }}"
  notify:
    - Validate configuration
    - Rebuild recipient_access database
    - Reload postfix
  loop_control:
    label: "{{ item.domain }}"

- name: Place sasl_password_map
  ansible.builtin.copy:
    content: "{{ postfix_smtp_sasl_password_map_content }}"
    dest: "{{ postfix_smtp_sasl_password_map }}"
    mode: "0600"
  when:
    - postfix_smtp_sasl_password_map is defined and postfix_smtp_sasl_password_map != ""
  notify:
    - Rebuild sasl_password_map database

- name: Place sender_dependent_relayhost_maps
  ansible.builtin.copy:
    content: "{{ postfix_sender_dependent_relayhost_maps_content }}"
    dest: "{{ postfix_sender_dependent_relayhost_map_path }}"
    mode: "0644"
  when:
    - postfix_sender_dependent_relayhost_maps_content is defined
    - postfix_sender_dependent_relayhost_maps_content != ""
  notify:
    - Rebuild sender_dependent_relayhost_maps database
    - Reload postfix

- name: Place sender_canonical_maps
  ansible.builtin.copy:
    content: "{{ postfix_sender_canonical_maps_content }}"
    dest: "{{ postfix_sender_canonical_map_path }}"
    mode: "0644"
  when:
    - postfix_sender_canonical_maps_content is defined
    - postfix_sender_canonical_maps_content != ""
  notify:
    - Rebuild sender_canonical_maps database
    - Reload postfix

- name: Place smtp_generic_maps
  ansible.builtin.copy:
    content: "{{ postfix_smtp_generic_maps_content }}"
    dest: "{{ postfix_smtp_generic_map_path }}"
    mode: "0644"
  when:
    - postfix_smtp_generic_maps_content is defined
    - postfix_smtp_generic_maps_content != ""
  notify:
    - Rebuild smtp_generic_maps database
    - Reload postfix

- name: Flush handlers again
  ansible.builtin.meta: flush_handlers

- name: Start and enable postfix
  ansible.builtin.service:
    name: "{{ postfix_service }}"
    state: started
    enabled: true
